

    body {
      font-family: sans-serif;

    }
    .scanner > .scanner-container {
      position: relative;
      top: 20%;
      left: 30%;
    }
    #result {
      font-weight: bold;
      margin-top: 20px;

    }
