

    body {
      font-family: sans-serif;

    }
    .scanner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #result {
      font-weight: bold;
      margin-top: 20px;

    }
#scanned-list-container {
    display: flex;
    justify-content: center;
}
